.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full height of the viewport */
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    width: 100%;
    max-width: 500px; /* Sets a max-width for the card on large screens */
}
